@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Montserrat:wght@300;500;700&display=swap');
body{
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-family: 'Montserrat', sans-serif;
  background: #D2D8ED;
  background-size: cover;
  background-repeat: no-repeat;
}